<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.stu.mapper.UserMapper">

    <resultMap type="com.scu.stu.pojo.DO.LoginInfoDO" id="LoginInfo">
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.scu.stu.pojo.DO.UserInfoDO" id="UserInfoDO">
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="identityCard" column="identity_card" jdbcType="VARCHAR"/>
        <result property="QRCode" column="QR_code" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryLoginInfo" resultMap="LoginInfo">
        select
          username, password, role
        from login_info
        where username = #{username}
    </select>

    <select id="queryUserInfo" resultMap="UserInfoDO">
        select
          userId, introduction, role, avatar, name, sex, age, identity_card, QR_code
        from user_info
        where userId = #{userId}
    </select>

    <update id="updateLoginInfo">
        update login_info
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="role != 0">
                role = #{role},
            </if>
        </set>
        where username = #{username}
    </update>

    <update id="updateUserInfo">
        update user_info
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="role != null and role != 0">
                role = #{role},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
            <if test="age != null and age != 0">
                age = #{age},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="identityCard != null and identityCard != ''">
                identity_card = #{identityCard},
            </if>
            <if test="QRCode != null and QRCode != ''">
                QR_code = #{QRCode},
            </if>
        </set>
        where userId = #{userId}
    </update>

    <select id="queryUserListInfo" resultMap="UserInfoDO">
        select userId, introduction, role, avatar, name, sex, age, identity_card, QR_code
        from user_info
        where role = #{role}
    </select>

    <select id="batchQueryUserInfo" resultMap="UserInfoDO">
        select userId, introduction, role, avatar, name, sex, age, identity_card, QR_code
        from user_info
        where userId in
        <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <insert id="create">
        insert into user_info
        (userId, name, role, age, sex, identity_card)
        values
        (#{userId}, #{name}, #{role}, #{age}, #{sex}, #{identityCard})
    </insert>

    <insert id="createLogin">
        insert into login_info
        (username, password, role)
        values
        (#{username}, #{password}, #{role})
    </insert>
</mapper>
